.link {
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 300ms ease-out;
    transform-origin: right;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.reveal-image-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16/9;
  width: 50%;
}

.reveal-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #434343;
}
